<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>categories - siw recipes</title>
<link name="stylesheet" href="css/style.css" />
</head>
<body>

<header>
<h1>siw reciper</h1>
</header>

<div>
<h1>categories</h1>
</div>

<div>
<h3>categorie disponibili</h3>
<div th:if="${categories.isEmpty()}">
<span>SPIACENTE...ma non ci sono categorie disponibili</span>
</div>
<div th:unless="${categories.isEmpty()}">
<div th:each="cat : ${categories}">
<a th:href="@{'/categories/' + ${cat.id}"
   th:text="${cat.name}"></a>
   <span th:text="${cat.description}"></span>
</div>
</div>


</body>
</html>