<!DOCTYPE html>
<html>
  <head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>homepage - siw recipes</title>
    <link name="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header>
      <h1>siw recipes</h1>
    </header>
    <div>
      <h1>homepage</h1>
    </div>
    <div>
      <h3>sezioni disponibili</h3>
      <div>
        <a href="/categories">Categorie</a>
        <p>Seleziona le ricette in base alla categoria</p>
      </div>
      <div>
        <a href="/recipes">Ricette</a>
        <p>Seleziona tutte le ricette</p>
      </div>
      <div>
        <a href="/newRecipes">Nuove ricette</a>
        <p>Visualizza tutte le nuove ricette</p>
      </div>
    </div>
  </body>
</html>